.idea/
docs/
build/
cmake-build-debug/
cmake-build-release/
build/CMakeFiles/out.dir
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-default-visual-studio/
cmake-build-default/
or-tools_VisualStudio2019-64bit_v9.3.10497/
cmake-build-release-cygwin/
