.idea/
docs/
build/
cmake-build-debug/
cmake-build-release/
build/CMakeFiles/out.dir
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-default-visual-studio/
cmake-build-default/
